#age {
  background-color: whitesmoke;
}

#foot {
  background-color: whitesmoke;
}

#inch {
  background-color: whitesmoke;
}

body {
  background-image: url("https://www.visittheusa.com/sites/default/files/styles/hero_xl_2x_3200x1400/public/images/hero_media_image/2018-06/0c647c1b4b1a841d3e0a1d6542875829.jpeg?itok=HLxENqJf");
  background-size: initial;
  background-repeat: none;
  background-position: center;

}

h1 , p {
  color: lightgoldenrodyellow;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}


form {
  background-color: rgba(238, 234, 197, 0.712);
  padding: 3vh;
  border-radius: 35px;
}

.container {
  padding-top: 45px;
}

.form-row {
  padding-top: 15px;
  padding-bottom: 15px;
}

.results {
  background-color: rgba(238, 234, 197, 0.712);
  padding: 3vh;
  border-radius: 35px;
  margin-top: 45px;
  text-align: center;
}

.results {
  display: none;
}

.celeb {
  display: none;
  padding-top: 15px;
}